@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 2rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'KillSwitch', sans-serif; /* Use your custom font */
 
}

.wrapper1 {
  display: inline-block;
  width: 74rem;
  background-image: linear-gradient(45deg, #003052 0%, #07A5BA 60%);
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: cover;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 6px;
  border-radius: 3rem;
  font-family: 'KillSwitch', sans-serif; /* Use your custom font for headings */
}

.shadow {
  box-shadow: 0px 5px 30px 0px rgba(152, 138, 201, 0.1) !important;
}
.btn-primary {
  border-radius: 50px;
  background: #ffd500;
  text-decoration: none;
  color: #fff !important;
  font-size: 1vw;
  line-height: 22px;
  padding: 10px 20px;
  border: none;
  border: 1px solid #ffffff;
  transition: background 200ms ease, border-color 200ms ease;
}
@font-face {
  font-family: 'KillSwitch';
  src: url('/fonts/kill.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.btn {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

#buttons03 .button {
  background-color: #8F4D00;
  color: #FFFFFF;
  background-image: linear-gradient(177deg, #F5BF00 0%, rgba(143, 77, 0, 0.008) 100%);
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: cover;
}

#buttons03 li a {
  display: inline-block;
  width: 20.5rem;
  height: 4.75rem;
  line-height: 4.75rem;
  padding: 0 0.5rem;
  vertical-align: middle;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  border-radius: 2.5rem;
  box-shadow: 0rem 0rem 0rem 0.25rem #FFFFFF;
  direction: var(--site-language-direction);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}